<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sib.healthcare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare">
        <activity
            android:name=".covid_section.Statistics"
            android:exported="true" />
        <activity
            android:name=".covid_section.covid_main_activity"
            android:exported="true" />
        <activity
            android:name=".activities.consultancy.QuestionActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.AskSpecialistsActivity"/>
        <activity
            android:name=".activities.consultancy.ConsFirstActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.RegisterScreenActivity"
            android:exported="true"
            android:parentActivityName=".activities.LoginScreenActivity" />
        <activity
            android:name=".activities.LoginScreenActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />

        <activity
            android:name=".activities.consultancy.SolutionsActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.AskSpecialistsActivity" />
        <activity
            android:name=".activities.consultancy.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.consultancy.DrAppointmentListActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.ConsFirstActivity" />
        <activity
            android:name=".activities.consultancy.DoctorProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.consultancy.DoctorListActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.ConsFirstActivity" />
        <activity
            android:name=".activities.consultancy.AskSpecialistsActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.ConsFirstActivity" />
        <activity
            android:name=".activities.consultancy.AppointmentBookingActivity"
            android:exported="true"
            android:parentActivityName=".activities.consultancy.DoctorProfileActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".activities.PostsandWatch"></activity>
        <activity android:name=".activities.Posting"></activity>
        <activity android:name=".activities.Notifications"></activity>
        <activity android:name=".activities.DonorReg"></activity>
        <activity android:name=".activities.Comment"></activity>
        <activity android:name=".activities.ShowPosts"></activity>
        <activity android:name=".activities.ShowDonors"></activity>

        <service
            android:name=".activities.FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>